<div class="container contactme">
  <div class="row">
   <div class="col-sm-12">
    <h3 class="section-title">Contact</h3>
    <div class="section-title-border"></div>
  </div>
</div>
<div class="row">
 <div class="col-sm-6">
  <p>
   Messages sent with this contact form go directly into my inbox. It is the best way to contact me.
 </p>
 <p>
  I am based in Paris and available for remote freelance work.
</p>
<ul class="list-contacts">
 <li><i class="fa fa-mobile-phone"></i> (+33) 687976148</li>
 <li><i class="fa fa-map-marker"></i> 45 bis Rue d'Aguessau, <br> Boulogne-Billancourt, 92100</li>
 <li><i class="fa fa-envelope-o"></i> <a href="mailto:jramonibz555@gmail.com">jramonibz555@gmail.com</a></li>
</ul>
</div>
<div class="col-sm-6">
  <form class="form-horizontal" action="https://formspree.io/jramonibz555@gmail.com" method="post" role="form" id="contactForm">
   <div class="form-group">
    <div class="col-sm-6">
     <input name="name" class="form-control" placeholder="Name" type="text">
   </div>
   <div class="col-sm-6">
     <input name="contactEmail" class="form-control" placeholder="Email" type="text">
   </div>
 </div>
 <div class="form-group">
  <div class="col-sm-12">
   <textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <input name="_gotcha" style="display:none" type="text">
    <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
     <span class="ladda-label">Submit</span>
   </button>
 </div>
</div>
<input name="_gotcha" style="display:none" type="text">
</form>
</div>
</div>
</div>
